In [1]:
pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.6.15)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
#from sklearn import cross_validation
# import opendatasets as od

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [14]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/gdrive/MyDrive/kaggle_dataset'

In [15]:
!ls

gdrive	sample_data

In [16]:
!kaggle datasets download johndig90/winpe-ml

Downloading winpe-ml.zip to /content
 98% 123M/125M [00:00<00:00, 193MB/s]
100% 125M/125M [00:00<00:00, 164MB/s]

In [17]:
!unzip /content/winpe-ml.zip -d ./winpe-ml/

Archive:  /content/winpe-ml.zip
  inflating: ./winpe-ml/dataset.csv

## Reading dataset

In [18]:
df = pd.read_csv("./winpe-ml/dataset.csv", header=None)

In [19]:
df

,0,1,2,3,4,5,6,7,8,9,...,477,478,479,480,481,482,483,484,485,486
0,pe-malicious,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.385031,0.60,0.40,0.565036,0.054403
1,pe-malicious,0,0,0,0,1,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.695652,0.20,0.20,0.372974,0.030327
2,pe-malicious,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.163088,1.00,1.00,0.979375,0.203325
3,pe-malicious,0,1,0,0,1,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.925532,0.25,0.25,0.648750,0.000407
4,pe-malicious,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.220399,1.00,1.00,0.979375,0.203325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114839,pe-legit,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.962560,0.25,0.25,0.700695,0.058631
114840,pe-legit,0,0,0,0,1,1,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.032753,0.25,0.25,0.509494,0.000426
114841,pe-legit,0,0,0,0,1,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.046068,0.25,0.25,0.511626,0.000318
114842,pe-legit,1,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.985010,0.25,0.25,0.831366,0.036742
114843,pe-legit,0,0,0,0,1,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EDA

In [20]:
df.shape

(114844, 487)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114844 entries, 0 to 114843
Columns: 487 entries, 0 to 486
dtypes: float64(475), int64(11), object(1)
memory usage: 426.7+ MB

In [22]:
mal = df[0:99995]
legit = df[99996:114844]
print("the shape of the legit dataset is :")
print(legit.shape[0],legit.shape[1])
print("the shhape of the malware dataset is :")
print(mal.shape[0],mal.shape[1])

the shape of the legit dataset is :
14848 487
the shhape of the malware dataset is :
99995 487

In [23]:
print(df.columns)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            477, 478, 479, 480, 481, 482, 483, 484, 485, 486],
           dtype='int64', length=487)

In [24]:
print(df.head(5))

            0    1    2    3    4    5    6    7    8    9    ...  477  478  \
0  pe-malicious    0    0    0    0    1    0    0    0    0  ...  0.0  0.0
1  pe-malicious    0    0    0    0    1    0    0    1    0  ...  0.0  0.0
2  pe-malicious    0    0    0    0    1    0    0    1    1  ...  0.0  0.0
3  pe-malicious    0    1    0    0    1    1    1    1    0  ...  0.0  0.0
4  pe-malicious    0    0    0    0    1    0    0    1    1  ...  0.0  0.0

   479  480  481       482   483   484       485       486
0  0.0  0.0  0.0  0.385031  0.60  0.40  0.565036  0.054403
1  0.0  0.0  0.0  0.695652  0.20  0.20  0.372974  0.030327
2  0.0  0.0  0.0  0.163088  1.00  1.00  0.979375  0.203325
3  0.0  0.0  0.0  0.925532  0.25  0.25  0.648750  0.000407
4  0.0  0.0  0.0  0.220399  1.00  1.00  0.979375  0.203325

[5 rows x 487 columns]

## Nulls Handeling

In [25]:
(df.isna().sum()>0).sum()

175

In [26]:
df = df.dropna()

In [27]:
df

,0,1,2,3,4,5,6,7,8,9,...,477,478,479,480,481,482,483,484,485,486
0,pe-malicious,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.385031,0.60,0.40,0.565036,0.054403
1,pe-malicious,0,0,0,0,1,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.695652,0.20,0.20,0.372974,0.030327
2,pe-malicious,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.163088,1.00,1.00,0.979375,0.203325
3,pe-malicious,0,1,0,0,1,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.925532,0.25,0.25,0.648750,0.000407
4,pe-malicious,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.220399,1.00,1.00,0.979375,0.203325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114838,pe-legit,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.795599,0.20,0.20,0.722686,0.045844
114839,pe-legit,0,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.962560,0.25,0.25,0.700695,0.058631
114840,pe-legit,0,0,0,0,1,1,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.032753,0.25,0.25,0.509494,0.000426
114841,pe-legit,0,0,0,0,1,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.046068,0.25,0.25,0.511626,0.000318
114842,pe-legit,1,0,0,0,1,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.985010,0.25,0.25,0.831366,0.036742

In [28]:
df.iloc[:, 1:]

,1,2,3,4,5,6,7,8,9,10,...,477,478,479,480,481,482,483,484,485,486
0,0,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.385031,0.60,0.40,0.565036,0.054403
1,0,0,0,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.695652,0.20,0.20,0.372974,0.030327
2,0,0,0,0,1,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.163088,1.00,1.00,0.979375,0.203325
3,0,1,0,0,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.925532,0.25,0.25,0.648750,0.000407
4,0,0,0,0,1,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.220399,1.00,1.00,0.979375,0.203325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114838,0,0,0,0,1,0,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.795599,0.20,0.20,0.722686,0.045844
114839,0,0,0,0,1,0,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.962560,0.25,0.25,0.700695,0.058631
114840,0,0,0,0,1,1,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.032753,0.25,0.25,0.509494,0.000426
114841,0,0,0,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.046068,0.25,0.25,0.511626,0.000318
114842,1,0,0,0,1,0,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.985010,0.25,0.25,0.831366,0.036742

## Training

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( df.iloc[:, 1:], df.iloc[:, 0] , test_size=0.2, random_state=4, stratify=df.iloc[:, 0])

In [30]:
y_train.head()

113734        pe-legit
49972     pe-malicious
83305     pe-malicious
62098     pe-malicious
80710     pe-malicious
Name: 0, dtype: object

In [31]:
y_test.head()

1427     pe-malicious
92253    pe-malicious
72966    pe-malicious
91346    pe-malicious
46670    pe-malicious
Name: 0, dtype: object

In [32]:
y_train.value_counts() / y_train.shape[0]

pe-malicious    0.870703
pe-legit        0.129297
Name: 0, dtype: float64

In [33]:
y_test.value_counts() / y_test.shape[0]  #chekcing if thepercentagges are matching tobe represntative

pe-malicious    0.870695
pe-legit        0.129305
Name: 0, dtype: float64

In [34]:
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

### Clasification

#### SVR

In [35]:
# svc = SVC(
#     C=1.0, break_ties=False, cache_size=200, class_weight='balanced', coef0=0.0,
#     decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
#     max_iter=-1, probability=False, random_state=None, shrinking=True,
#     tol=0.001, verbose=False
#           )
# print(svc)

# tree-based methods perform comparatively better than their additive counterparts in  datasets with categorical features
base_classifier = DecisionTreeClassifier(class_weight = 'balanced')
ada = AdaBoostClassifier(base_estimator = base_classifier, n_estimators = 64, learning_rate = 0.9)

# less variance
rnd_forest = RandomForestClassifier(class_weight = 'balanced', n_estimators = 128)
#class weight parameter -> balanced assigns weight for each clas inversely proportional to their ratio in the data

In [36]:
ada.fit(X_train, y_train)
score = ada.score(X_train, y_train)
print("accuracy of adaboost on the training set:", score)

accuracy of adaboost on the training set: 1.0

In [37]:
score = ada.score(X_test, y_test)
print("accuracy of adaboost on the test set:", score)

accuracy of adaboost on the test set: 0.9607296791327441

In [38]:
rnd_forest.fit(X_train, y_train)
score = rnd_forest.score(X_train, y_train)
print("accuracy of random forest on the training set:", score)

accuracy of random forest on the training set: 1.0

In [39]:
score = rnd_forest.score(X_test, y_test)
print("accuracy of random forest on the test set:", score)

accuracy of random forest on the test set: 0.9729200226392094

In [40]:
from sklearn.metrics import classification_report

In [41]:
y_pred = ada.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    pe-legit       0.86      0.83      0.85      2970
pe-malicious       0.97      0.98      0.98     19999

    accuracy                           0.96     22969
   macro avg       0.92      0.91      0.91     22969
weighted avg       0.96      0.96      0.96     22969

In [42]:
y_pred = rnd_forest.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    pe-legit       0.93      0.85      0.89      2970
pe-malicious       0.98      0.99      0.98     19999

    accuracy                           0.97     22969
   macro avg       0.96      0.92      0.94     22969
weighted avg       0.97      0.97      0.97     22969